<%# A linha abaixo carrega no template o conteúdo total do arquivo header.ejs%>
<%-include('base_header') -%>
<body>
    <%- include('nav') -%>
    <ul>
    <% for(var i=0; i< lista_projetos.length; ++i) { %>     
    <div class="card">   
        <li>
            <p>Projeto: <%=i+1 %></p><br/>
            <span class="descritor">Tipo de Projeto:</span> <%=lista_projetos[i].tipo %><br/>
            <span class="descritor">Tecnologia:</span> <%=lista_projetos[i].tecnologia %><br/>
            <span class="descritor">Link:</span> <a href="<%=lista_projetos[i].url %>">GitHub</a><br/>
            <span class="descritor">Ano realizado:</span> <%=lista_projetos[i].ano %>            
        </li> 
    </div>
    <% } %>
    </ul>
</body>
<%# A linha abaixo carrega no template o conteúdo total do arquivo footer.ejs %>
<%- include('base_footer') -%>